/* chosen colours from darkest to lightest: #433E65, #5B558B, #7B74AA, #938DB9, #B7B3D0 */
body {
    background-color: #B7B3D0;
    text-align: center;
}

.mood_options button {
    font-size: 23px;
    background-color: #433E65;
    color: #B7B3D0;
    border-radius: 20px;
    border-width: 1px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
    margin: 5px;
    transition: transform 0.2s;
    cursor: pointer;
}

.mood_options button:hover {
    box-shadow: 2px 4px 16px rgba(63, 52, 66, 0.627);
    transform: scale(1.15);
}